---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { rooms } from '../data/rooms';
import RoomCard from '../components/RoomCard';
---

<Layout title="Visitas en habitaciones HNSC" class:list={'bg-gray-100'}>
	<main class="container mx-auto p-8">
		<h1 class="text-4xl font-bold text-center my-4 text-emerald-700">Hospital Nuestra Señora del Carmen</h1>
		<h2 class="text-2xl text-center mb-4 text-cyan-700">Visitantes en habitaciones</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
		  {rooms.map(room => (
			<RoomCard room={room} />
		  ))}
		</div>
	</main>
</Layout>